@import "../../assets/styles/bootstrap-variables.scss";

.range-datepicker {
    align-items: center;
    border-radius: $border-radius;
    border: 1px solid #6c757d;
    justify-content: center;
    margin-left: 1px;
}

.range-datepicker__title {
    align-items: center;
    border-right: 1px solid #6c757d;
    display: flex;
    height: 100%;
    justify-content: center;
}

.range-datepicker__calendar>div {
    height: 100% !important;
}

.range-datepicker__calendar>div>input {
    border: none;
}

.range-datepicker__calendar>div>input:focus {
    border: none;
}