@import "../styles/bootstrap-variables.scss";

.wrapper-container {
    border: 1px solid $gray-600;
    min-width: 375px;
    min-height: fit-content;
    height: 90vh;
    padding: 20px 20px;
    margin-top: 20px;
}